In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/AB_NYC_2019.csv")

In [3]:
df2=df[['latitude',
'longitude',
'price',
'minimum_nights',
'number_of_reviews',
'reviews_per_month',
'calculated_host_listings_count',
'availability_365', 'neighbourhood_group', 'room_type']]

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
df2.isnull().sum()

latitude                              0
longitude                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
neighbourhood_group                   0
room_type                             0
dtype: int64

In [6]:
df2=df2.fillna(0)
df2.isnull().sum()

latitude                          0
longitude                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
neighbourhood_group               0
room_type                         0
dtype: int64

In [7]:
df2.dtypes

latitude                          float64
longitude                         float64
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
neighbourhood_group                object
room_type                          object
dtype: object

In [8]:
categorical_columns=list(df2.dtypes[df2.dtypes=="object"].index)
for c in categorical_columns:
    df2[c]=df2[c].str.lower().str.replace(" ","_")

In [9]:
df2

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group,room_type
0,40.64749,-73.97237,149,1,9,0.21,6,365,brooklyn,private_room
1,40.75362,-73.98377,225,1,45,0.38,2,355,manhattan,entire_home/apt
2,40.80902,-73.94190,150,3,0,0.00,1,365,manhattan,private_room
3,40.68514,-73.95976,89,1,270,4.64,1,194,brooklyn,entire_home/apt
4,40.79851,-73.94399,80,10,9,0.10,1,0,manhattan,entire_home/apt
...,...,...,...,...,...,...,...,...,...,...
48890,40.67853,-73.94995,70,2,0,0.00,2,9,brooklyn,private_room
48891,40.70184,-73.93317,40,4,0,0.00,2,36,brooklyn,private_room
48892,40.81475,-73.94867,115,10,0,0.00,1,27,manhattan,entire_home/apt
48893,40.75751,-73.99112,55,1,0,0.00,6,2,manhattan,shared_room
48894,40.76404,-73.98933,90,7,0,0.00,1,23,manhattan,private_room

df2.describe

# Question 1

In [10]:
df2.mode()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group,room_type
0,40.71813,-73.95677,100.0,1.0,0.0,0.0,1.0,0.0,manhattan,entire_home/apt
1,NaN,-73.95427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
# Question 2

In [11]:
df2.loc[df2['price'] >= 152, 'above_average'] = 1
df2.loc[df2['price'] < 152, 'above_average'] = 0

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
df_full_train, df_test = train_test_split(df2, test_size=0.2, random_state=1)

In [14]:
df_train, df_val=train_test_split(df_full_train, test_size=0.25, random_state=1)

In [15]:
len(df_train), len(df_val), len (df_test)

(29337, 9779, 9779)

In [20]:
#We use df__3 to solve Question 6.
from sklearn.feature_extraction import DictVectorizer
df_val3=df_val.reset_index(drop=True)
df_test3=df_test.reset_index(drop=True)
df_train3=df_train.reset_index(drop=True)

y_train3=np.log1p(df_train3.price.values)
y_val3=np.log1p(df_val3.price.values)
y_test3=np.log1p(df_test3.price.values)

del df_train3["price"]
del df_val3["price"]
del df_test3["price"]

del df_train3["above_average"]
del df_val3["above_average"]
del df_test3["above_average"]

train_dicts3=df_train3.to_dict(orient='records')
dv3=DictVectorizer(sparse=False)
X_train3=dv3.fit_transform(train_dicts3)
val_dicts3 = df_val3.to_dict(orient="records")
X_val3=dv3.transform(val_dicts3)

#The end

In [24]:
y_train3

array([4.7095302 , 4.26267988, 6.13339804, ..., 3.93182563, 5.52545294,
       5.39362755])

In [21]:
df_val=df_val.reset_index(drop=True)
df_test=df_test.reset_index(drop=True)
df_train=df_train.reset_index(drop=True)

y_train=df_train.above_average.values
y_val=df_val.above_average.values
y_test=df_test.above_average.values

del df_train["price"]
del df_val["price"]
del df_test["price"]

# Question 2

In [22]:
corrM = df2.corr()
corrM

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,above_average
latitude,1.000000,0.084788,0.033939,0.024869,-0.015389,-0.018758,0.019517,-0.010983,0.056385
longitude,0.084788,1.000000,-0.150019,-0.062747,0.059094,0.138516,-0.114713,0.082731,-0.267001
price,0.033939,-0.150019,1.000000,0.042799,-0.047954,-0.050564,0.057472,0.081829,0.418150
minimum_nights,0.024869,-0.062747,0.042799,1.000000,-0.080116,-0.124905,0.127960,0.144303,0.034715
number_of_reviews,-0.015389,0.059094,-0.047954,-0.080116,1.000000,0.589407,-0.072376,0.172028,-0.051785
reviews_per_month,-0.018758,0.138516,-0.050564,-0.124905,0.589407,1.000000,-0.047312,0.163732,-0.056040
calculated_host_listings_count,0.019517,-0.114713,0.057472,0.127960,-0.072376,-0.047312,1.000000,0.225701,0.170075
availability_365,-0.010983,0.082731,0.081829,0.144303,0.172028,0.163732,0.225701,1.000000,0.104255
above_average,0.056385,-0.267001,0.418150,0.034715,-0.051785,-0.056040,0.170075,0.104255,1.000000

In [ ]:
# availability_365/ calculated_host = 0.225701	 revies_per_month/ number_of_reviews=0.589407

# Question 3

In [21]:
from sklearn.metrics import mutual_info_score

round (mutual_info_score(df_train.neighbourhood_group, df_train.above_average),2)

round (mutual_info_score(df_train.room_type, df_train.above_average),2)

# Question 4

In [18]:
from sklearn.feature_extraction import DictVectorizer

In [19]:
train_dicts=df_train.to_dict(orient='records')

dv=DictVectorizer(sparse=False)

X_train=dv.fit_transform(train_dicts)

val_dicts = df_val.to_dict(orient="records")

X_val=dv.transform(val_dicts)

In [109]:
del df_train["above_average"]
del df_val["above_average"]
del df_test["above_average"]

In [32]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42)

model.fit(X_train, y_train)

In [36]:
y_pred=model.predict(X_val)

In [37]:
import sklearn

In [40]:
Ac=sklearn.metrics.accuracy_score(y_val,y_pred). round(2)
Ac

0.79

# Question 5

We have 9 features: 7 numerical features and 2 categorical.
Let's find the least useful one using the feature elimination technique.
Train a model with all these features (using the same parameters as in Q4).
Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
For each feature, calculate the difference between the original accuracy and the accuracy without the feature.
Which of following feature has the smallest difference?

neighbourhood_group
room_type
number_of_reviews
reviews_per_month

note: the difference doesn't have to be positive

In [51]:
df_train

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group,room_type
0,40.76434,-73.92132,4,30,0.32,1,363,queens,entire_home/apt
1,40.73442,-73.95854,5,2,0.16,1,0,brooklyn,private_room
2,40.66359,-73.99487,1,33,2.75,5,113,brooklyn,entire_home/apt
3,40.63766,-74.02626,3,1,0.12,2,362,brooklyn,private_room
4,40.65118,-74.00842,2,0,0.00,2,365,brooklyn,private_room
...,...,...,...,...,...,...,...,...,...
29332,40.69332,-73.96543,12,11,0.15,1,15,brooklyn,entire_home/apt
29333,40.71856,-73.98753,4,0,0.00,1,0,manhattan,private_room
29334,40.69034,-73.84611,3,0,0.00,2,178,queens,private_room
29335,40.76324,-73.98459,10,1,0.03,1,0,manhattan,entire_home/apt
29336,40.74563,-73.97590,30,1,0.07,23,362,manhattan,entire_home/apt

In [53]:
dif_acc_list = []
for var in [ "neighbourhood_group", "room_type", "number_of_reviews", "reviews_per_month"]:    
   
    y_train2=y_train
    y_val2=y_val
    
    df_train2=df_train.drop(columns=var)
    df_val2=df_val.drop(columns=var)
    

    train_dicts2=df_train2.to_dict(orient='records')
    dv2=DictVectorizer(sparse=False)
    X_train2=dv2.fit_transform(train_dicts2)
    
    val_dicts2 = df_val2.to_dict(orient="records")
    X_val2=dv2.transform(val_dicts2)
    
    
    model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42)
    model.fit(X_train2, y_train2)
    y_pred2=model.predict(X_val2)
    
    model.fit(X_train2, y_train2)
    acc=sklearn.metrics.accuracy_score(y_val2,y_pred2)
    dif_acc=round((Ac-acc),2)
    dif_acc_list.append(dif_acc)
dif_acc_list

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

[0.04, 0.06, -0.0, 0.0]

# Question 6

For this question, we'll see how to use a linear regression model from Scikit-Learn
We'll need to use the original column 'price'. Apply the logarithmic transformation to this column.
Fit the Ridge regression model on the training data.
This model has a parameter alpha. Let's try the following values: [0, 0.01, 0.1, 1, 10]
Which of these alphas leads to the best RMSE on the validation set? Round your RMSE scores to 3 decimal digits.

In [35]:
def rmse (y,y_pred):
    error=y-y_pred
    se=error**2
    mse=se.mean()
    return np.sqrt(mse)

from sklearn.linear_model import Ridge

for r in [0, 0.01, 0.1, 1, 10]:

    model3=Ridge(alpha=r, random_state=42)
    model3.fit(X_train3, y_train3)
    y_pred3_r=model3.predict(X_val3)
    rmse3= rmse(y_val3, y_pred3_r).round(3)
    print (r, rmse3)

0 0.494
0.01 0.494
0.1 0.494
1 0.494
10 0.495